@use "./theme/_variables.scss";
@use "./theme/light";
@use "./theme/dark";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 387px;
  width: 428px;
}
